@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap');

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Fredoka One', cursive;
}

h1 {
  padding: 0.69rem 0;
  text-align: center;
  background-color:black;
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  color: whitesmoke;
}